@model LunchGuide.Models.DishModel

<style>
    .body {
        margin: 0 auto;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 500px;
    }

    .add-dish {
        grid-column:  2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
    }
</style>


@{
    ViewData["Title"] = "AddDailyMenu";
}

<p>
    Du har loggat in som: @ViewBag.name
</p>


<div class="grid-container">
    <div class="add-dish">
        <h3>Lägg till en måltid</h3>

        <br/>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddDailyMenu" method="post" style="margin: 0% auto; width:400px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Date" class="control-label">Datum</label>
                        <input asp-for="Date" class="form-control"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <br/>

                    <div class="form-group">
                        <label asp-for="Dish" class="control-label">Namn på rätt<abbr title="Det här fältet kräver ett svar" aria-label="required">*</abbr></label>
                        <input asp-for="Dish" class="form-control" required maxlength="30" />
                        <span asp-validation-for="Dish" class="text-danger"></span>
                    </div>

                    <br/>

                    <div class="form-group">
                        @foreach (LunchGuide.Models.SpecialDietModel sd in Model.AviableSD)
                        {
                            <input type="checkbox" id="@sd.Id" name="CategoryIds" value="@sd.Id" class="chkclasss" />
                            <label for="hej">@sd.Type</label>
                            <br/>
                        }
                    </div>

                    <br/>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Lägg till" class="btn-default" />
                    </div>
                </form>
            </div>
        </div>

        @if (@ViewBag.antal == 1)
        {
            <br/>
            <p style="color:green;"> @ViewBag.dish har lagts till </p>
        }
        else if(@ViewBag.antal == 0)
        {
            <br/>
           <p>@ViewBag.error</p> 
        }

        <br/>

        <div>
            <a asp-controller="Admin" asp-action="AdminOverview">Tillbaka till restaurangöverblick</a>
        </div>
    <div/>
<div/>
