@model LunchGuide.Models.AdminOverviewModel

@{
    ViewData["Title"] = "AdminOverview";
}

<p>
    Du har loggat in som @ViewBag.name
</p>


<table  class="table table-hover">
    <thead >
        <tr>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.Name) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.Address) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.Phone) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.Website) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.OpeningHours) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.Price) </th>
            <th> @Html.DisplayNameFor(model => model.RestaurantInfo.University) </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Name) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Address) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Phone) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Website) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.OpeningHours) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Price) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.University) </td>
        </tr>
    </tbody>
</table>

<br/>
<br/>

<h3>Din lunchmeny</h3>

<br/>

<div>
    <a asp-controller="Admin" asp-action="AddDailyMenu">Lägg till rätter</a>
</div>

<table  class="table table-hover">
    <thead >
        <tr>
            <th> Datum </th>
            <th> Rätt </th>
            <th> Anmärkning </th>
        </tr>
    </thead>
    <tbody>
        @foreach (LunchGuide.Models.DishModel dishInfo in Model.DishInfo) { 
            <tr>
                <td> @Html.DisplayFor(model =>  dishInfo.Date) </td>          
                <td> @Html.DisplayFor(model =>  dishInfo.Dish) </td>
                <td> @Html.DisplayFor(model =>  dishInfo.SpecialDietString) </td>
            </tr>
        }
    </tbody>
</table>


