@model LunchGuide.Models.AdminOverviewModel

@{
    ViewData["Title"] = "AdminOverview";
}

<div style="text-align: right">
    <p>
        Du har loggat in som @ViewBag.name
    </p>
</div>

<br/>


<table  class="table table-hover">
    <thead >
        <tr>
            <th> Restaurang </th>
            <th> Adress </th>
            <th> Telefonnummer </th>
            <th> Hemsida </th>
            <th> Lunchservering </th>
            <th> Pris </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Name) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Address) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Phone) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Website) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.OpeningHours) </td>
            <td> @Html.DisplayFor(model => model.RestaurantInfo.Price) </td>
        </tr>
    </tbody>
</table>

<br/>

<h3>Din lunchmeny</h3>

<br/>

<div>
    <a asp-controller="Admin" asp-action="AddDailyMenu"><type ="button" class="btn btn-success">Lägg till rätter</button></a>
</div>

<br/>

<table  class="table table-hover">
    <thead >
        <tr>
            <th> Datum </th>
            <th> Rätt </th>
            <th> Anmärkning </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (LunchGuide.Models.DishModel dishInfo in Model.DishInfo) { 
            <tr>
                <td> @Html.DisplayFor(model =>  dishInfo.Date) </td>          
                <td> @Html.DisplayFor(model =>  dishInfo.Dish) </td>
                <td> @Html.DisplayFor(model =>  dishInfo.SpecialDietString) </td>

                <td>
                    @Html.ActionLink("Redigera", "Edit", new { id = dishInfo.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = dishInfo.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
